<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>You're not Alone 🤍 - Home</title>
  <link rel="stylesheet" href="css/style.css" />
</head>
<body>
  <nav>
    <h1>You're not Alone 🤍</h1>
    <div class="nav-links">
    <a href="/" class="button">Home</a>
<a href="/healthy" class="button">Healthy Lifestyle</a>
<a href="/emotional_empathy" class="button">Emotional & Kindness</a>
<a href="/talk" class="button">Need to Talk?</a>
<a href="/team" class="button">Team</a>

  </div>
  </nav>

  <main>
    <div class="home">
    <h2>Welcome! You are safe here! 🤍</h2>
    <p>
      This website was created by IF students to promote emotional well-being and empathy.<br>
      It’s part of our English class project and a way to say:<br>
      <strong>You are not alone! 💙</strong>
    </p>
    </div>
  </main>

  <footer>
    <p>Created by IF students with 🤍 for English Class</p>
  </footer>
</body>
</html>
