<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Our Team - You're not Alone 🤍</title>
  <link rel="stylesheet" href="css/style.css" />
</head>
<body>
  <nav>
    <h1>You're not Alone 🤍</h1>
    <div class="nav-links">
    <a href="/" class="button">Home</a>
<a href="/healthy" class="button">Healthy Lifestyle</a>
<a href="/emotional_empathy" class="button">Emotional & Kindness</a>
<a href="/talk" class="button">Need to Talk?</a>
<a href="/team" class="button">Team</a>

  </div>
  </nav>

  <main>
    <h2>Our Team 👩🏽‍🎓👩🏻‍🎓👩🏻‍🎓🧑🏻‍🎓</h2>
    <p style="max-width:600px;margin:0 auto 1.5em;">
      This website was created by students from class 1112 of Electrotechnics at IFMS Campus Campo Grande as part of an English class project.
    </p>

    <div class="team-container">
      <div class="team-card">
        <img src="/assets/malu.jpeg" alt="Malu">
        <h3>Malu Azevedo</h3>
        <p>Fullstack Developer</p>
      </div>

      <div class="team-card">
        <img src="/assets/carol.jpeg" alt="Carol">
        <h3>Caroline Baeza</h3>
        <p>Content Writer & Copy Editor</p>
      </div>

      <div class="team-card">
        <img src="/assets/eloisa.jpeg" alt="Eloisa">
        <h3>Eloísa Amaral</h3>
        <p>Media & Outreach Designer</p>
      </div>

      <div class="team-card">
        <img src="/assets/enzo.jpeg" alt="Enzo">
        <h3>Enzo Milandri</h3>
        <p>Content Researcher & Media Curator</p>
      </div>
    </div>

    <footer>
      <p>Created by IF students with 🤍 for English Class</p>
    </footer>
  </main>
</body>
</html>
